
trace.overwrite=true
report.overwrite=true
dag.overwrite=true


params {
	outdir="quick_start_output"

}


executor {
	queueSize=3
}


docker {
	enabled=true

}



 process {
 	withName: runFQC {
		container = 'local/fastqc:latest'
 		publishDir="$params.outdir/FastQC/" 
     	}
 
 	withName: runFlexBar {
		container = 'local/flexbar:latest'
 	}
 
 	withName: mapAgainstRRNA {
		container = 'local/bowtie2:latest'
 		publishDir="$params.outdir/rRNA_cleaned_star_input/"
 	}
 
 	withName: star_align_pair {
		container = 'local/star:latest'
 		publishDir="$params.outdir/star_output_pair/"
 	}
 
 	withName: star_align_first {
		container = 'local/star:latest'
 		publishDir="$params.outdir/star_output_first/"
 	}
 
 	withName: star_align_second {
		container = 'local/star:latest'
 		publishDir="$params.outdir/star_output_second/"
 	}
 
 	withName: DCC_step {
		container = 'local/dcc:latest'
 		publishDir="$params.outdir/DCC/"
 	}
 
 	withName: circtest {
		container = 'local/circtest:latest'
 		publishDir="$params.outdir/circtest/"
 	}
 
 	withName: circtest_plain {
		container = 'local/circtest:latest'
 		publishDir="$params.outdir/circtest_plain/"
 		}
 	 
 	withName: run_cluster_profiler { 
		container = 'local/clusterprofiler:latest'
		publishDir="$params.outdir/cluster_profiler/"
 	}
 
 	withName: circtest_plain_plotting {
		container = 'local/utility:latest'
 		publishDir="$params.outdir/circtest_plotting_plain/"
 	}

	withName: circtest_plotting {
		container = 'local/utility:latest'
		publishDir="$params.outdir/circtest_plotting/"
	}



}
