report.overwrite=true
trace.overwrite=true
dag.overwrite=true

params {
	outdir="quick_start_output"

}


executor {
	queueSize=6
}


singularity {
	enabled=true
	autoMounts =true
	runOptions=' --writable-tmpfs ' 
}


process {
	withName: runFQC {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/fastqc/fastqcuab.sif'
		publishDir="$params.outdir/FastQC/" 
    	}

	withName: runFlexBar {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/flexbar/flexbaruab.sif'
	}

	withName: mapAgainstRRNA {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/bowtie2/bowtieuab.sif'
		publishDir="$params.outdir/rRNA_cleaned_star_input/"
	}

	withName: star_align_pair {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/STAR/staruab.sif'
		publishDir="$params.outdir/star_output_pair/"
	}

	withName: star_align_first {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/STAR/staruab.sif'
		publishDir="$params.outdir/star_output_first/"
	}

	withName: star_align_second {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/STAR/staruab.sif'
		publishDir="$params.outdir/star_output_second/"
	}

	withName: DCC_step {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/DCC/dccuab.sif'
		publishDir="$params.outdir/DCC/"
	}

	withName: circtest {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/CircTest/circtestuab.sif'
		publishDir="$params.outdir/circtest/"
	}

	withName: circtest_plain {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/CircTest/circtestuab.sif'
		publishDir="$params.outdir/circtest_plain/"
		}

	withName: circtest_plotting {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/Utility/ct_plotteruab.sif'
		publishDir="$params.outdir/circtest_plotting/"
	}

	withName: run_cluster_profiler { 
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/ClusterProfiler/clusterprofileruab.sif'
		publishDir="$params.outdir/cluster_profiler/"
	}

	withName: circtest_plain_plotting {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/Utility/ct_plotteruab.sif'
		publishDir="$params.outdir/circtest_plotting_plain/"
	}

	withName: prepare_for_CRAFT {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/Utility/ct_plotteruab.sif'
		publishDir="$params.outdir/craft_prep" 
		}

	withName: run_craft {
		container = '/mnt/sdc/five_tera/UAB_YE_CF/circRNAFlow/singularity/craft/craftuab.sif'
		publishDir="$params.outdir/craft" 

	}


}
