
executor {
	queueSize=3
}


docker {
	enabled=true
}


process {
	withName: runFQC {
		container = 'local/fastqc:latest'
    	}

	withName: runFlexBar {
		container = 'local/flexbar:latest'
	}

	withName: mapAgainstRRNA {
		container = 'local/bowtie2:latest'
	}

	withName: star_align_pair {
		container = 'local/star:latest'
	}

	withName: star_align_first {
		container = 'local/star:latest'
	}

	withName: star_align_second {
		container = 'local/star:latest'
	}

	withName: DCC_step {
		container = 'local/dcc:latest'
	}

	withName: circtest {
		container = 'local/circtest:latest'
	}

	withName: circtest_plain {
		container = 'local/circtest:latest'
		}

	withName: circtest_plotting {
		container = 'local/utility:latest' 
	}

	withName: run_cluster_profiler { 
		container = 'local/clusterprofiler:latest'
	}

	withName: circtest_plain_plotting {
		container = 'local/utility:latest'
	}
}
